
#pattern-header {
    background-image: url("../img/pattern.png");
    height: 175px;
    background-color: #4EA0FF;
}

h1 {
    font-size: 40px;
}

h3 {
    color: grey;
    
}

.data-articolo {
    color: grey;
}

.sottolineato {
    background-color: yellow;
}